{%- extends "header.html" %}

{%- block navbar_header %}
<div class="ui primary menu">
  	<div class="item logo">
		{%- if config.THEME_LOGO %}
		  <a class="logo-link" href="/">
			<img class="ui image"
				  src="{{ url_for('static', filename=config.THEME_LOGO) }}"
				  alt="{{ _(config.THEME_SITENAME) }}"/>
		  </a>
		{%- endif %}
  	</div>
	<div class="right menu">
		<a class="ui item">Datasets</a>
		<a class="ui item">Communities</a>
		<a class="ui item">Help</a>
		<a class="ui item">Login</a>
	</div>
</div>
{%- endblock navbar_header %}
