{#def record, form_config, data, extra_context, ui_links #}

{% extends "oarepo_ui/form.html" %}
{%- include config.BASE_JS %}

{%- block javascript %}
    {{ super() }}
{% endblock javascript %}

{%- block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/react-datepicker/dist/react-datepicker.css">
{%- endblock %}

{%- block page_body %}
    <div class="search-result-container">
        <div id="ingestRoot"></div>
    </div>
{% endblock %}