{#def record, form_config, data, extra_context, ui_links #}

{% extends "oarepo_ui/form.html" %}

{%- block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/react-datepicker/dist/react-datepicker.css">
{%- endblock %}

{%- block javascript %}
    <script src="https://dataspace.elter-ri.eu/static-data-dev/tailwind.js"></script>
    <script type="module" src="https://dataspace.elter-ri.eu/static-data-dev/page.js"></script>
{%- endblock %}

{%- block page_body %}
    <div class="search-result-container">
        <div id="ingestRoot"></div>
    </div>
{% endblock %}