{# def d, metadata, extra_context, record, ui, is_preview=None #}

{% extends "oarepo_ui/detail.html" %}

{%- block page_body %}
    <div class="ui main container">
        <div class="ui centered grid page-nav-container">
            <div class="row detail-search-menu">
                <div class="sixteen wide mobile four wide computer column detail-back-to-search-link">
                    <a href="{{ url_for('lter.search') }}" class="text-big"
                       aria-label="{{ _('Back to search results') }}">
                        <i class="left chevron icon"></i>{{ _('Back to search results')|upper }}
                    </a>
                </div>
                <div class="sixteen wide mobile twelve wide computer column center aligned right floated">
                    <form action="{{ url_for('lter.search') }}" class="ui form" role="search">
                        <div class="ui fluid action input search-input">
                            <input type="text" name="q" class="form-control" placeholder="{{ _('Search') }}">
                            <button type="submit" class="ui icon search button" aria-label="{{ _('Search') }}"><i
                                    class="search icon"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="column page-nav">
                    <div class="page-title">
                        {{ d.metadata.titles.0.text }}
                    </div>
                </div>
            </div>
        </div>
        <div class="search-result-container">
            <div class="ui centered grid">
                <div class="row detail-main-info">
                    {#TODO put this into a separate class#}
                    <div class="column">
                        <div class="ui grid">
                            <div class="three column row">
                                <div class="column detail-main-info-header">
                                    <div class="detail-main-info-header">
                                        <i class="four wide column key icon"></i>
                                        <div class="twelve wide column">Data keywords</div>
                                    </div>
                                    {#TODO add buttons to redirect#}
                                    <div class="detail-main-info-text">{{ d.metadata.keywords }}</div>
                                </div>
                                <div class="column">
                                    <div class="detail-main-info-header">
                                        <i class="four wide column linkify icon"></i>
                                        <div class="detail-main-info-header">Original source link</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="detail-main-info-header">

                                        <i class="four wide column language icon"></i>
                                        <div class="detail-main-info-header">Language</div>
                                    </div>
                                    <div class="detail-main-info-text">{{ d.metadata.language }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center aligned two column row">
                    <div class="twelve wide column">
                        <article class="column main-record-content">
                            <LterDetailRoot md={d.metadata}/>
                        </article>
                    </div>
                    <div class="four wide computer only column">
                        <AccordionField label={_('GeoMap')} title_class="detail-sidebar-header"
                                        label_class="detail-sidebar-title"
                                        active>
                            <GeoMap d={d.metadata.geoLocations}/>
                        </AccordionField>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{%- block javascript %}
    {{ super() }}
    {{ webpack['lter_geomap.js'] }}
{%- endblock %}

{#{% block record_sidebar %}#}
{#    Add your sidebar content here#}
{#{% endblock record_sidebar %}#}
