{#def search_app_config #}
{%- extends "oarepo_ui/base_page.html" %}
{%- set title = _("Search results") ~ " | " ~ _("lter") %}

{%- block javascript %}
    {{ super() }}
    {{ webpack['lter_search.js'] }}
{%- endblock %}

{%- block page_body %}
<div class="ui main container">
  <div data-invenio-search-config='{{ search_app_config | tojson }}'></div>
</div>
{%- endblock page_body %}

