{# def extra_context #}

{%- extends "invenio_theme/frontpage.html" %}

{# TODO (UI): prepare a proper initial title page !!! #}

{%- block page_header %}
    {% include "header.html" %}
{%- endblock page_header %}

{%- block page_body %}



    <div class="title-image">
        <img class="full-width" src="{{ url_for('static', filename=config.PHOTO2) }}" alt="photo 1">
    </div>
    {% block main_column %}
        <div class="ui title-search-container backdrop container container-fluid">

            {#TODO Most searched datafilters from extra_content["most_searched"]#}
            <p style="color: white">
                <b class="carrotOrange">
                    Most searched:
                </b>
                Weather1, Weather2, Weather3
            </p>
            <form action="/search" class="ui fluid big action input input-wrapper form" role="search">
                <input type="text" name="q" class="title-search-form"
                       placeholder="{{ _('Search') }}">
                <button type="submit"
                        class="ui icon search button title-search-form"
                        aria-label="{{ _('Search') }}"> SEARCH
                </button>
            </form>
            <div class="ui grid title-stats">
                <div class="three column item bg-lightBlue">
                    <i class="file outline icon"></i>
                    <div class="info">
                        <div class="number">250 000</div>
                        <div class="description"><b>Files</b></div>
                    </div>
                </div>

                <div class="three column item bg-carrotOrange">
                    <i class="database icon"></i>
                    <div class="info">
                        <div class="number">250 000</div>
                        <div class="description"><b>Datasets</b></div>
                    </div>
                </div>

                <div class="three column item bg-yellowGreen">
                    <i class="user outline icon"></i>
                    <div class="info">
                        <div class="number">1000</div>
                        <div class="description"><b>Sources</b></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-communities-container container container-fluid">

        </div>

    {% endblock main_column %}

    {%- block bottom_section %}
    {%- endblock bottom_section %}

{%- endblock page_body %}
