{# def extra_context #}

{%- extends "invenio_theme/frontpage.html" %}

{# TODO (UI): prepare a proper initial title page !!! #}
{%- block javascript %}
    {{ super() }}
    {%- if current_user.is_authenticated %}
        <script src="https://dataspace.elter-ri.eu/static-data-dev/tailwind.js"></script>
        <script type="module" src="https://dataspace.elter-ri.eu/static-data-dev/page.js"></script>
        <script>
            tailwind.config = {
                prefix: 'tw-',
                theme: {
                    extend: {
                        colors: {
                            "elter-backgroud-blue": "#0A2033",
                            "elter-baclground-light-blue": "#0A5A98",
                            "elter-orange": "#ED9632",
                            "elter-orange-emph": "#FCA035",
                        },
                    },
                },
            }
        </script>
    {%- endif %}
{%- endblock %}

{%- block page_header %}
    {% include "header.html" %}
{%- endblock page_header %}

{%- block page_body %}
    {% block main_column %}
        {%- if not current_user.is_authenticated %}
            <div class="">
                <div class="flex items-center justify-center">
                    <img class="title-image" src="{{ url_for('static', filename=config.LOGO) }}" alt="photo 1">
                </div>
                <form action="{{ url_for('lter.search') }}"
                      class="ui form full-width flex items-center justify-center" role="search">
                    <div id="frontpage-search-input" class="ui action input search-input title-page">
                        <input type="text" name="q" class="form-control" placeholder="{{ _('Search') }}">
                        <button type="submit" class="ui icon search button" aria-label="{{ _('Search') }}"><i
                                class="search icon"></i>
                        </button>
                    </div>
                </form>
                <div class="flex items-center  justify-center">
                    <a href="{{ url_for('lter.search') }}"
                       class="right-floated oxfordBlue">{{ _('Show all records') }}</a>
                </div>
            </div>
        {%- endif %}

        {%- if current_user.is_authenticated %}
            <div class="search-result-container">
                <div id="ingestRoot"></div>
            </div>
        {%- endif %}

    {% endblock main_column %}

    {%- block bottom_section %}
    {%- endblock bottom_section %}

{%- endblock page_body %}
