{# def title, content, titleClass, contentClass #}

<div class="ui segment">
    <h4 class="ui header {{ titleClass | default('') }}">{{ title }}</h4>
    <div class="content {{ contentClass | default('') }}">
        {{ content }}
    </div>
</div>