{# def history #}

{% if history %}
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for record in array(history) %}
            {% set status = record.status | string %}

            <tr>
                <td>{{ record.date }}</td>
                <td>
                    {% if status == "Running" %}
                        <div class="ui fluid blue label">
                            <i class="spinner loading icon"></i> Running
                        </div>
                    {% elif status == "Accepted" %}
                        <div class="ui fluid green label">
                            <i class="check circle icon"></i> Accepted
                        </div>
                    {% elif status == "Declined" %}
                        <div class="ui fluid red label">
                            <i class="times circle icon"></i> Declined
                        </div>
                    {% elif status == 'Canceled' %}
                        <div class="ui fluid grey label">
                            <i class="ban icon"></i> Canceled
                        </div>
                    {% elif status == 'Error' %}
                        <div class="ui fluid orange label">
                            <i class="exclamation triangle icon"></i> Error
                        </div>
                    {% else %}
                        <div class="ui fluid label">
                            <i class="question circle icon"></i> Unknown
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No quality checks available.</p>
{% endif %}
