{#def external_files, files #}


{% if external_files %}
    {#TODO translations#}
    <AccordionField label="External files" accordion_class="detail-section" active="True">
        <div class="ui relaxed divided list">
            {% for file in array(external_files) %}
                <div class="item">
                    <i class="large file middle aligned icon"></i>
                    <div class="content">
                        <a class="header" title="Click to download" href={{ file.sourceUrl }}>{{ file.name }}</a>
                        <div class="description">
                            <div class="ui basic file-format label">File format: {{ file.format }}</div>
                            <div class="ui label" title="File size - We dont know the filesize format - To be done">
                                {{ file.size }} Bytes</div>
                            <a class="ui basic label" onmouseleave="outFunc(this)" onclick="copyToClipboard(this)"
                               title="Click to copy the checksum: {{ file.md5 }}" value={{ file.md5 }}>Checksum</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </AccordionField>
{% endif %}

{% if files.enabled %}
    {% set entries = files.entries %}
    {% if entries %}
        {#TODO translations#}
        <AccordionField label="Files" accordion_class="detail-section" active="True">
            <div class="ui relaxed divided list">
                {% for file in array(entries) %}
                    {% if file.status | string == 'pending' %}
                        <div class="item">
                            <i class="large file middle aligned icon"></i>
                            <div class="content">
                                <a class="header"> {{ file.key }}</a>
                                <div class="description">
                                    <i class="spinner loading icon"></i> Waiting for upload
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="item">
                            <i class="large file middle aligned icon"></i>
                            <div class="content">
                                <a class="header" title="Click to download"
                                   href={{ file.links.content }}>{{ file.key }}</a>
                                <div class="description">
                                    <div class="ui basic file-format label">MIME type: {{ file.mimetype }}</div>
                                    <div class="ui label" aria-label="File size"> {{ file.size | filesizeformat }}</div>

                                    <a class="ui basic label" onmouseleave="outFunc(this)"
                                       onclick="copyToClipboard(this)"
                                       title="Click to copy the checksum: {{ file.checksum }}"
                                       value={{ file.checksum }}>Checksum
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </AccordionField>
    {% endif %}

{% endif %}


<script>
    function copyToClipboard(element) {
        const textToCopy = element.getAttribute("value");
        const tempInput = document.createElement("input");
        document.body.appendChild(tempInput);
        tempInput.value = textToCopy;
        tempInput.select();
        document.execCommand("copy");
        tempInput.remove();
        element.innerHTML = "Copied!"
    }

    function outFunc(element) {
        element.innerHTML = "Checksum";
    }
</script>