{#def external_files, files #}


{% if external_files %}
    {#TODO translations#}
    <AccordionField label="External files" accordion_class="detail-section" active="True">
        <div class="ui relaxed divided list">
            {% for file in array(external_files) %}
                <div class="item">
                    <i class="large file middle aligned icon"></i>
                    <div class="content">
                        <a class="header" href={{ file.sourceUrl }}>{{ file.name }}</a>
                        <div class="description">
                            <div class="ui basic file-format label">{{ file.format }}</div>
                            <a class="ui basic label" onclick="copyToClipboard(this)" title={{ file.md5 }}>md5</a>
                            <a class="ui basic label" title={{ file.size }}>size</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </AccordionField>
{% endif %}

{% if files.enabled %}
    {% set entries = files.entries %}
    {% if entries %}
        {#TODO translations#}
        <AccordionField label="Files" accordion_class="detail-section" active="True">
            <div class="ui relaxed divided list">
                {% for file in array(entries) %}
                    <div class="item">
                        <i class="large file middle aligned icon"></i>
                        <div class="content">
                            <a class="header" href={{ file.links.content }}>{{ file.key }}</a>
                            <div class="description">
                                <div class="ui basic file-format label">{{ file.mimetype }}</div>
                                <a class="ui basic label" onclick="copyToClipboard(this)" title={{ file.checksum }}>md5</a>
                                <a class="ui basic label" title={{ file.size | filesizeformat }}>size</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </AccordionField>
    {% endif %}

{% endif %}


<script>
    function copyToClipboard(element) {
        const textToCopy = element.getAttribute("title");
        const tempInput = document.createElement("input");
        document.body.appendChild(tempInput);
        tempInput.value = textToCopy;
        tempInput.select();
        document.execCommand("copy");
        tempInput.remove();
    }
</script>