{# def md #}

<table class='ui compact definition table'>
    <ITableField d={md.dataLevel}/>
        <ITableField d={md.keywords}>
            <ITableArrayValue value={md.keywords}/>
        </ITableField>
        <ITableField d={md.language}/>
            <ITableField d={md.publicationDate}/>
                <ITableField d={md.temporalResolution}/>
                    {% for item in array(md.authors) %}
                        <ITableSection d={item}>
                            <LterAuthor d={item}/>
                        </ITableSection>
                    {% endfor %}
                    {% for item in array(md.contributors) %}
                        <ITableSection d={item}>
                            <LterContributor d={item}/>
                        </ITableSection>
                    {% endfor %}
                    {% for item in array(md.datasetIds) %}
                        <ITableSection d={item}>
                            <LterDatasetid d={item}/>
                        </ITableSection>
                    {% endfor %}
                    {% for item in array(md.descriptions) %}
                        <ITableSection d={item}>
                            <LterDescription d={item}/>
                        </ITableSection>
                    {% endfor %}
                    {% for item in array(md.files) %}
                        <ITableSection d={item}>
                            <LterFile d={item}/>
                        </ITableSection>
                    {% endfor %}
                    {% for item in array(md.licenses) %}
                        <ITableSection d={item}>
                            <LterLicense d={item}/>
                        </ITableSection>
                    {% endfor %}
                    <ITableSection d={md.methods}>
                        <LterMethod d={md.methods}/>
                    </ITableSection>
                    {% for item in array(md.propertyRights) %}
                        <ITableSection d={item}>
                            <LterPropertyright d={item}/>
                        </ITableSection>
                    {% endfor %}
                    {% for item in array(md.shortNames) %}
                        <ITableSection d={item}>
                            <LterShortname d={item}/>
                        </ITableSection>
                    {% endfor %}
                    {% for item in array(md.taxonomicCoverages) %}
                        <ITableSection d={item}>
                            <LterTaxonomiccoverage d={item}/>
                        </ITableSection>
                    {% endfor %}
                    {% for item in array(md.temporalCoverages) %}
                        <ITableSection d={item}>
                            <LterTemporalcoverage d={item}/>
                        </ITableSection>
                    {% endfor %}
                    {% for item in array(md.titles) %}
                        <ITableSection d={item}>
                            <LterTitle d={item}/>
                        </ITableSection>
                    {% endfor %}
</table>