{# def d, level=0 #}

<ITableField d={d.PID} level={level}/>
<ITableField d={d.instrumentationDescription} level={level}/>
<ITableField d={d.qualityControlDescription} level={level}/>
<LterStep d={d.steps} level={level+1}/>