{# def d, level=0 #}

<ITableField d={d.format} level={level}/>
<ITableField d={d.md5} level={level}/>
<ITableField d={d.name} level={level}/>
<ITableField d={d.size} level={level}/>
<ITableField d={d.sourceUrl} level={level}/>