{# def d, level=0 #}

<ITableField d={d.email} level={level}/>
<ITableField d={d.familyName} level={level}/>
<ITableField d={d.fullName} level={level}/>
<ITableField d={d.givenName} level={level}/>
<LterId d={d.ids} level={level+1}/>