{# def md, search_link #}

{% set ns = namespace(abstract_description = None, other_descriptions = []) %}

{% for description in array(md.descriptions) %}
    {% if description.type|string == "Abstract" %}
        {% set ns.abstract_description = description.description %}
    {% else %}
        {% set ns.other_descriptions = ns.other_descriptions + [description] %}
    {% endif %}
{% endfor %}

<table class='ui compact definition table'>
    {% if md.publicationDate %}
        <div class="ui segment detail-section">
            <h3 class="ui header">Publication date</h3>
            <div class="content">
                <p>{{ md.publicationDate }}</p>
            </div>
        </div>
    {% endif %}
    <div class="ui segment detail-section">
        <h3 class="ui header">References</h3>
        <div class="content ui grid two column row">
            <div class="column">
                {% if md.siteReference %}
                    {% for siteRef in array(md.siteReference) %}
                        <h4>Site reference:</h4>
                        <a href="https://deims.org/{{ siteRef.PID }}">{{ siteRef.name }}</a>
                        {% set siteHref = search_link ~ "?q=&f=metadata_siteReference_name:" %}
                        <a href="{{ siteHref }}{{ siteRef.name }}">
                            <i class="ui icon search"></i>
                        </a>

                    {% endfor %}
                {% endif %}
            </div>
            {% if md.SOReference %}
                <div class="column">
                    <h4>Standard observation</h4>
                    <a href="{{ md.SOReference.url }}">{{ md.SOReference.name }}</a>
                    {% set SOHref = search_link ~ "?q=&f=metadata_SOReference_name:" %}
                    <a href="{{ SOHref }}{{ md.SOReference.name }}">
                        <i class="ui icon search"></i>
                    </a>

                </div>
            {% endif %}
        </div>
    </div>
    {% if ns.abstract_description != None %}
        <div class="ui segment detail-section">
            <h3 class="ui header">Abstract</h3>
            <div class="content">
                <p>{{ ns.abstract_description }}</p>
            </div>
        </div>
    {% endif %}
    {% if ns.other_descriptions != [] %}
        {% for description in ns.other_descriptions %}
            <AccordionField label={description.type}
                            accordion_class="detail-section"
                            active=False>
                {{ description.description }}
            </AccordionField>
        {% endfor %}
    {% endif %}
    <Files files={md.files}></Files>
</table>