{# def md, context, search_link #}

{% set ns = namespace(abstract_description = None, other_descriptions = []) %}

{% for description in array(md.descriptions) %}
    {% if description.type|string == "Abstract" %}
        {% set ns.abstract_description = description.description %}
    {% else %}
        {% set ns.other_descriptions = ns.other_descriptions + [description] %}
    {% endif %}
{% endfor %}

<table class='ui compact definition table'>
    <div class="ui segment detail-section">
        <div class="ui grid two column row">
            {% if md.publicationDate %}
            {% endif %}
            <div class="column">
                <h3 class="ui header">Publication date</h3>
                <div class="content">
                    <p>{{ md.publicationDate }}</p>
                </div>
            </div>
            {% if md.project %}
                <div class="column">
                    <h3 class="ui header">Project</h3>
                    <div class="content">
                        <a href={{ md.project.PID }}>{{ md.project.name }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="ui segment detail-section">
        <h3 class="ui header">References</h3>
        <div class="content ui grid two column row">
            <div class="column">
                {% if md.siteReference %}
                    {% for siteRef in array(md.siteReference) %}
                        <h4>Site reference:</h4>
                        <a href="https://deims.org/{{ siteRef.PID }}">{{ siteRef.name }}</a>

                        {% set siteHref = search_link ~ "?q=&f=metadata_siteReference_name:" %}
                        <a href="{{ siteHref }}{{ siteRef.name }}">
                            <i class="ui icon search"></i>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            {% if md.SOReference %}
                <div class="column">
                    <h4>Standard observation</h4>
                    <a href="{{ md.SOReference.url }}">{{ md.SOReference.name }}</a>

                    {% set SOHref = search_link ~ "?q=&f=metadata_SOReference_name:" %}

                    <a href="{{ SOHref }}{{ md.SOReference.name }}">
                        <i class="ui icon search"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    {% if md.authors != None %}
        <div class="ui segment detail-section">
            <h3 class="ui header">Authors</h3>
            {% for author in array(md.authors) %}
                <div class="content">
                    <p>{{ author.fullName }} - {{ author.email }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if ns.abstract_description != None %}
        <div class="ui segment detail-section">
            <h3 class="ui header">Abstract</h3>
            <div class="content">
                <p>{{ ns.abstract_description | sanitize | safe }}</p>
            </div>
        </div>
    {% endif %}

    {% if ns.other_descriptions != [] %}
        {% for description in ns.other_descriptions %}
            <AccordionField label={description.type}
                            accordion_class="detail-section"
                            active=False>
                {{ description.description | sanitize | safe }}
            </AccordionField>
        {% endfor %}
    {% endif %}
    {% if md.geoServerInfo %}
        {% for mapInfo in array(md.geoServerInfo.mapData) %}
            <AccordionField label="GeoServer Information">
                <div class="ui grid two column row">
                    <div class="column"><h5>Path</h5></div>
                    <div class="column"><p>{{ mapInfo.path }}</p></div>
                </div>
                <div class="ui grid two column row">
                    <div class="column"><h5>Layer name</h5></div>
                    <div class="column"><p>{{ mapInfo.features.name }}</p></div>
                </div>
                <div class="ui grid two column row">
                    <div class="column"><h5>EPSG Code</h5></div>
                    <div class="column"><p>{{ mapInfo.epsgCode }}</p></div>
                </div>
                <div class="ui grid two column row">
                    <div class="column"><h5>Service type</h5></div>
                    <div class="column">{{ md.geoServerInfo.serviceType }}</div>
                </div>
            </AccordionField>
        {% endfor %}
    {% endif %}
    <Files files={context.files} external_files={md.files}></Files>
</table>