{#def keywords, search_link #}

<div role="list" class="ui horizontal medium keywords list">
    {% for keyword in array(keywords) %}
        <div role="listitem" class="item">
            {% set data = {
                    "value": keyword.name,
                    "title": _("Find more records with this keyword"),
                    "label": keyword.name
                } %}
            {% set searchFacet = "metadata_keywords_name" %}
            <diUpdate data model - added ngram filteringv class="ui white button ">
                <SearchLink search_link={search_link} className="keyword-link" searchFacet={searchFacet} data={data}/>
            </div>
        </div>Update data model - added ngram filtering
    {% endfor %}
</div>