{%- extends config.BASE_TEMPLATE %}
{%- include config.BASE_JS %}

{%- block page_body %}
    {% block main_column %}
        <div class="search-result-container">
            <div id="ingestRoot"></div>
        </div>
    {% endblock main_column %}
{%- endblock page_body %}
